<!DOCTYPE HTML>
<html lang="en">
<head>
	<title>Results | Website Content Checker</title>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="UTF-8">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700%7CPoppins:400,500" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="/css/styles.css">
	<link rel="stylesheet" type="text/css" href="/css/responsive.css">
</head>
<body>
	<div class="main-area-wrapper-prc" style="">
		<div class="main-area-prc center-text" >

			<div class="display-table">
				<div class="display-table-cell">
					<h1 class="title">Website Content Checker</h1>
					<div class="requeste_url">
						<p class="desc">Here is the results for the requested URL:<br> {{.Url}}</p>
					</div>

					<div class="col-8 mx-auto mt-2">
						<table class="table main-table">
							<thead>
						    	<tr>
							      <th class="bg-secondary text-white">Content</th>
							      <th class="bg-secondary text-white">Information</th>
						    	</tr>
						  	</thead>
							<tbody>
						    	<tr>
						      		<td class="text-left">HTML Version</td>
						      		<td class="text-left">{{.HtmlVersion}}</td>
						    	</tr>

						    	<tr>
						    		<td class="text-left">Page Title</td>
						      		<td class="text-left">{{.Title}}</td>
						    	</tr>

						    	<tr>
						      		<td class="text-left">Headings count by level</td>
						      		<td>
						      			<table class="head-table">
						      				{{ range $key, $value := .HeadValues }}
						      					{{ if eq $key 0 }}
						      					<!-- Do nothing -->
						      			 		{{ else }}
						      						<tr><td>Heading {{$key}}:</td><td>{{ $value }}</td></tr>
						      					{{ end }}
						      			{{ end }}
						      			</table>
						      		</td>	
						    	</tr>

						    	<tr>
						      		<td class="text-left">Amount of internal and external links</td>
						      		<td class="text-left">
						      			<table class="head-table">
						      				<tr><td>Internal Links: </td><td>{{.Internal}}</td></tr>
						      				<tr><td>External Links: </td><td>{{.External}}</td></tr>
						      			</table>
						      		</td>
						    	</tr>

						    	<tr>
						      		<td class="text-left">Amount of inaccessible links</td>
						      		<td class="text-left">{{.InaccessibleLinks}}</td>
						    	</tr>

						    	<tr>
						      		<td class="text-left">If a page contains a login form</td>
						      		<td class="text-left">{{.HasLogin}}</td>
						    	</tr>
					  		</tbody>
						</table>	
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>