<!DOCTYPE HTML>
<html lang="en">
<head>
	<title>Results | Website Checker</title>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="UTF-8">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700%7CPoppins:400,500" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="/css/styles.css">
	<link rel="stylesheet" type="text/css" href="/css/responsive.css">
	
</head>
<body>
	
	<div class=".main-area-wrapper-prc" style="">
		<div class="main-area-prc center-text" >

			<div class="display-table">
				<div class="display-table-cell">
					<h1 class="title">Website Content Checker</h1>
					<div class="requeste_url">
						<p class="desc">Here is the results for the requested URL:<br> {{.Url}}</p>
					</div>

					<div class="col-6 mx-auto mt-2">
						<table class="table">
						<thead>
					    	<tr>
						      <th class="bg-secondary text-white">Content</th>
						      <th class="bg-secondary text-white">Information</th>
					    	</tr>
					  	</thead>
						<tbody>
					    	<tr>
					      		<td class="text-left">HTML Version</td>
					      		<td>{{.HtmlVersion}}</td>
					    	</tr>
					    	<tr>
					    		<td class="text-left">Page Title</td>
					      		<td>{{.Title}}</td>
					    	</tr>
					    	<tr>
					      		<td class="text-left">Headings count by level</td>
					      		<td>N/A</td>
					    	</tr>
					    	<tr>
					      		<td class="text-left">Amount of internal and external links</td>
					      		<td>Internal Links: {{.Internal}} <br>External Links: {{.External}}</td>
					    	</tr>

					    	<tr>
					      		<td class="text-left">Amount of inaccessible links</td>
					      		<td>N/A</td>
					    	</tr>
					    	<tr>
					      		<td class="text-left">If a page contains a login form</td>
					      		<td>N/A</td>
					    	</tr>

					    	<tr>
					    		<td colspan="2">
									<div class="try_again text-center">
										<a href="#" class="btn btn-xl btn-primary">Another Link?</a>
									</div>		
								</td>
					    	</tr>
					  	</tbody>
					</table>	
					</div>		
					
					
				</div>
			</div>
		</div>
	</div>
</body>
</html>